.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}

.navbar-admin.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
  border-bottom: 1px solid var(--border-color);
}

.navbar-admin.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}

.top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}

.top .info {
  display: flex;
  align-items: center;
}

.top span {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  margin-right: 20px;
}

.top img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.dashboard .dash-content {
  padding-top: 50px;
}

.dash-content .title {
  display: flex;
  align-items: center;
  margin: 45px 0 30px 0;
}

.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--orange-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.dash-content .title .text {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
  margin-left: 10px;
}

.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}

.boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}

.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}

.boxes .box.box2 {
  background-color: var(--box2-color);
}

.boxes .box.box3 {
  background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.activity .activity-data {
  display: flex;
}

.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.activity-data .data-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.activity-data .data .data-list {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}

@media (max-width: 1000px) {
  .navbar-admin {
    width: 73px;
  }

  .navbar-admin.close {
    width: 250px;
  }

  .navbar-admin .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  .navbar-admin.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }

  .navbar-admin li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  .navbar-admin.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }

  .navbar-admin ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  .navbar-admin.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }

  .navbar-admin ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }

  .navbar-admin.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }

  .activity .activity-data {
    overflow-x: scroll;
  }
}

@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}

@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .navbar-admin {
    width: 0px;
  }

  .navbar-admin.close {
    width: 73px;
  }

  .navbar-admin .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  .navbar-admin.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  .navbar-admin li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  .navbar-admin.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  .navbar-admin ~ .dashboard {
    left: 0;
    width: 100%;
  }

  .navbar-admin.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  .navbar-admin ~ .dashboard .top {
    left: 0;
    width: 100%;
  }

  .navbar-admin.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}
