.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}

.navbar-admin.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
  border-bottom: 1px solid var(--border-color);
}

.navbar-admin.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}

.top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}

.top .info {
  display: flex;
  align-items: center;
}

.top span {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  margin-right: 20px;
}

.top img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.dashboard .dash-content {
  padding-top: 50px;
}

.dash-content .title {
  display: flex;
  align-items: center;
  margin: 45px 0 30px 0;
}

.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--orange-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.dash-content .title .text {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
  margin-left: 10px;
}

.dash-content form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
  margin-bottom: 20px;
}

.dash-content .select-box {
  width: 20%;
}

.dash-content .select {
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 1rem;
  background: var(--select-color);
  color: var(--text-color);
  border-radius: 5px;
  -webkit-appearance: none;
}

.dash-content .search-box {
  position: relative;
  height: 45px;
  width: 20%;
}

.dash-content .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.dash-content .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}

.dash-content .title-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px;
}

.dash-content .title-1 span {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color);
}

.dash-content .title-1 span i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--orange-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 10px;
}

.dash-content .title-1 a {
  background: rgba(255, 68, 0, 0.951);
  color: white;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.dash-content .title-1 a i svg {
  padding-top: 3px;
  width: 26px;
  height: 17px;
}

.styled-table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 85%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: var(--orange-color);
  color: var(--title-icon-color);
  text-align: left;
}

.styled-table thead tr th {
  font-weight: 700;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody a {
  color: var(--orange-color);
  font-weight: 600;
}

.styled-table tbody tr {
  font-weight: 600;
  color: var(--text-color);
}

.styled-table tbody tr td {
  font-weight: 550;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: black;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--orange-color);
}

.styled-table tbody tr.active-row {
  font-weight: 600;
  color: #f1550e;
}

.dash-content .pages-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.dash-content .pages-buttom button {
  width: 70px;
  height: 40px;
  background: var(--orange-color);
  color: var(--title-icon-color);
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin: 0 10px;
}

/* create group */
.modal-create-group {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  // display: none;
}

.modal-create-group .cart-create {
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-gray);
}

.modal-create-group .cart-create h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* create content */

.modal-create-content {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  // display: none;
}

.modal-create-content .cart-create {
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-gray);
}

.modal-create-content .cart-create h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-create .form-input .status {
  margin-top: 10px;
}

.form-create .form-input .status > div {
  display: inline;
  position: relative;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 20px;
}

.form-create .form-input .status input {
  width: 17px;
  height: 17px;
}

.form-create .form-input .status span {
  font-size: 17px;
}

/* create account */
.modal-create-account {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  // display: none;
}

.modal-create-account .cart-create {
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-gray);
}

.modal-create-account .cart-create h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.modal-create-account .cart-create button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-create-account .cart-create button svg {
  width: 24px;
  height: 16px;
}

/* create user */
.modal-create-user {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  // display: none;
}

.modal-create-user .cart-create {
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-gray);
}

.modal-create-user .cart-create h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-create button {
  width: 18%;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  background: #ff7225;
  border: 1px solid #e2e8f0;
  color: white;
  border-radius: 5px;
}

.form-create .form-input {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-color: rgba(50, 151, 211, 0.25);
  margin-bottom: 5px;
}

.form-create .form-input label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-create .form-input input {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
}

/* form update account*/
.modal-edit-account {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  // display: none;
}

.modal-edit-account .cart-update {
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-gray);
}

.modal-edit-account .cart-update h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.modal-edit-account .cart-update .buttons-update {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* form update content*/
.modal-edit-content {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  // display: none;
}

.modal-edit-content .cart-update {
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-gray);
}

.modal-edit-content .cart-update h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.modal-edit-content .cart-update .buttons-update {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-edit-content .form-input .status {
  margin-top: 10px;
}

.modal-edit-content .form-input .status > div {
  display: inline;
  position: relative;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 20px;
}

.modal-edit-content .form-input .status input {
  width: 17px;
  height: 17px;
}

.modal-edit-content .form-input .status span {
  font-size: 17px;
}

/* form update group*/
.modal-edit-group {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  // display: none;
}

.modal-edit-group .cart-update {
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-gray);
}

.modal-edit-group .cart-update h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.modal-edit-group .cart-update .buttons-update {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* form delete user*/
.modal-delete-user {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  // display: none;
}

.modal-delete-user .cart-delete {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: var(--card-border-radius);
  width: 25%;
  box-shadow: 0 0 1rem var(--color-gray);
}

.model-delete {
  text-align: center;
}

.model-delete i svg {
  width: 100px;
  height: 100px;
}

.modal-delete-user .cart-delete .uil-check-circle {
  font-size: 70px;
  color: #ff7225;
  margin-bottom: 1rem;
}

.modal-delete-user .cart-delete h2 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}

.modal-delete-user .cart-delete h3 {
  font-size: 15px;
  font-weight: 500;
}

.modal-delete-user .cart-delete .buttons-delete {
  margin-top: 25px;
}

.modal-delete-user .cart-delete .buttons-delete button {
  width: 40%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  background: #ff7225;
  border: 1px solid #e2e8f0;
  color: white;
  border-radius: 5px;
  margin: 0 10px;
}
