:root {
  /* ===== Colors ===== */
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #3b3b3b;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;
  --orange-color: #f1550e;
  --select-color: #f3f3f3;
  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body.dark {
  --primary-color: #3a3b3c;
  --orange-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --title-icon-color: #ccc;
  --select-color: #3a3b3c;
}

/* === Custom Scroll Bar CSS === */
body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #3a3b3c;
}

.navbar-admin {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}

.navbar-admin.close {
  width: 73px;
}

.navbar-admin .logo-name {
  display: flex;
  align-items: center;
}

.navbar-admin .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}

.navbar-admin .logo-image img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-admin .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}

.navbar-admin.close .logo_name {
  opacity: 0;
  pointer-events: none;
}

.navbar-admin .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-admin .menu-items li {
  list-style: none;
}

.navbar-admin .menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}

.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--orange-color);
}

.nav-links .menu-item.active i,
.nav-links .menu-item.active .link-name {
  color: #f1550e !important;
  font-weight: 700;
}

body.dark li a:hover:before {
  background-color: var(--text-color);
}

.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.navbar-admin .menu-items li a .link-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  transition: var(--tran-05);
}

.navbar-admin.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.navbar-admin .nav-links li a:hover i,
.navbar-admin .nav-links li a:hover .link-name {
  color: var(--orange-color);
  font-weight: 600;
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
  color: var(--text-color);
  font-weight: 600;
}

.navbar-admin .menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

.navbar-admin .menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.navbar-admin .menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}

.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}

body.dark .switch:before {
  left: 20px;
}
