/*================== MAIN ==================*/
main {
  position: relative;
  height: 80vh;
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  height: 500px;
  background: #fff;
  border-radius: 6px;
  padding: 10px 40px 10px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(15%);
}

.feedback .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #fb7623;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.feedback .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #fb7623;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  background: #fb7623;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #fb5223;
}

@media (max-width: 950px) {
  .feedback {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .feedback .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .feedback {
    margin: 40px 0;
    height: 100%;
  }

  .feedback .content {
    flex-direction: column-reverse;
  }

  .feedback .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .feedback .content .left-side::before {
    display: none;
  }

  .feedback .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
